<div class="container">
    <p-breadcrumb [model]="items"></p-breadcrumb>
    

    <div class="row">
        <div class="col-10">
            <div class="section-title">
                <h5 class="my-3 text-uppercase">Page <span *ngIf="editPage">Editing</span></h5>
            </div>
        </div>
        <div class="col-2 text-end">
            <button class="btn btn-secondary btn-block" (click)="checkEditOrNew()">
                <span class="d-flex">
                    <span class="material-icons">save</span>
                    <span class="mx-2">{{editPage ? 'Update & Publish' : 'Save & Publish'}}</span>
                </span>
            </button>
        </div>
    </div>

    <form name="event-form" [formGroup]="pageForm">
        <div class="row my-4">

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <div class="card">
                            <div class="card-header">
                                English
                            </div>
                            <div class="card-body">
                                <div class="p-2">
                                    <div class="form-group mb-3">
                                        <label>Title</label>
                                        <input class="form-control" placeholder="Name" name="Title" formControlName="Title"
                                            required [ngClass]="{ 'is-invalid': submitted && f.Title.errors }" />
                                        <div *ngIf="submitted && f.Title.invalid" class="invalid-feedback">
                                            <div *ngIf="f.Title.errors?.required">This field is required</div>
                                        </div>
                                    </div>
        
                                    <div class="mb-3"
                                        *ngIf="pageComponents?.components?.id != 'contacts' && pageComponents?.components?.id != 'home'">
                                        <label dir="rtl">Description</label>
                                        <p-editor [style]="{'height':'150px'}" formControlName="Content"></p-editor>
                                    </div>
        
                                    <div class="form-group mb-3">
                                        <label>Banner (optional)</label>
                                        <input type="file" class="form-control" placeholder="Banner"
                                            (change)="handleFileSelect($event, 'en')" />
                                        <small class="form-text text-muted">Banner size (pixel): width(1500) X
                                            height(150)</small>
                                        <img class="banner-preview mt-3 img-fluid" [src]="pageForm.value.Banner" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="card" dir="rtl">
                            <div class="card-header">
                                عربى
                            </div>
                            <div class="card-body">
                                <div class="p-2">
        
                                    <div class="form-group mb-3" dir="rtl">
                                        <label class="text-end">الاسم</label>
                                        <input class="form-control" placeholder="الاسم" formControlName="Title_ar" required
                                            [ngClass]="{ 'is-invalid': submitted && f.Title_ar.errors }" />
                                        <div *ngIf="submitted && f.Title_ar.invalid" class="invalid-feedback">
                                            <div *ngIf="f.Title_ar.errors?.required">هذه الخانة مطلوبه</div>
                                        </div>
                                    </div>
                                    <div class="mb-3" dir="rtl"
                                        *ngIf="pageComponents?.components?.id != 'contacts' && pageComponents?.components?.id != 'home'">
                                        <label class="text-end">وصف</label>
                                        <p-editor class="arabic" [style]="{'height':'150px'}" formControlName="Content_ar">
                                        </p-editor>
                                    </div>
        
                                    <div class="form-group mb-3" dir="rtl">
                                        <label>بانر (اختياري)</label>
                                        <input type="file" class="form-control" placeholder="Banner"
                                            (change)="handleFileSelect($event, 'ar')" />
                                        <small class="form-text text-muted">حجم البانر (بكسل): العرض (1500) X
                                            الارتفاع (150)</small>
                                        <img class="banner-preview mt-3 img-fluid" [src]="pageForm.value.Banner_ar" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Links Building -->
                    <div class="col-md-12 mb-2">

                        <ng-container *ngIf="pageComponents?.components?.id == 'contacts'">
                            <app-contact-wizard (contactData)="recieveData($event)" [data]="pageComponents.data">
                            </app-contact-wizard>
                        </ng-container>
                        <ng-container
                            *ngIf="(!editPage || pageComponents?.components?.id == 'links' || pageComponents?.components?.id == 'home') && showLink == true">
                            <app-links-wizard [data]="pageComponents.data" (otherData)="recieveData($event)"></app-links-wizard>
                        </ng-container>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>