<div class="hero-banner">
    <div class="home-banner"></div>
</div>
<section class="services py-5 bg-gray">
    <div class="section-title text-center mb-5">
        <h3>Services</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-12 mb-3" *ngFor="let service of services">
                <div class="service-item px-4 py-5">
                    <a [href]="service.url" [target]="service.target">
                    <div class="s-icon">
                        <img onerror="this.src='./assets/images/noimageavailable.png'" [src]="service.icon" class="img-fluid"/>
                    </div>
                    <h4>{{currentLang == 'ar' ? service.text_ar : service.text }}</h4>
                    <p>{{currentLang == 'ar' ?  service.desc_ar : service.desc}}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="services2 py-3">
    <div class="p-4 container">
        <div class="row">
            <div class="col-10 offset-1">
                <div class="row serives2-list">
                    <div class="col-sm-4 mb-2" *ngFor="let service of services2">
                        <div class="service2-item px-2 py-2">
                            <span class="material-icons-round me-2">{{service.logo ? service.logo : 'link'}}</span>
                            <h5>{{currentLang == 'ar' ? service.text_ar : service.text}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="events py-5 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-calendar">
                <div class="section-title text-left mb-5">
                    <h3 class="m-0 d-flex align-items-center"> <span class="material-icons-round">calendar_month</span><span>{{'events' | translate}}</span></h3>
                </div>
                <full-calendar [options]="calendarOptions"></full-calendar>
                <div class="mt-3 text-center">
                    <button class="btn btn-secondary">{{'viewAllEvents' | translate}}</button>
                </div>
            </div>
            <div class="col-md-4 col-news">
                <div class="section-title text-left mb-5">
                    <h3 class="m-0 d-flex align-items-center"><span class="material-icons-round">campaign</span> <span>{{'announcements' | translate}}</span></h3>
                </div>
                <div class="anouncement-list overflow-auto">
                    <div class="anouncement-item" *ngFor="let news of newsList">
                        <div class="a-image" *ngIf="!news.hide">
                            <img class="img-fluid" (error)="errorImg(news)" [src]="mediaPath + (currentLang == 'ar' ? news.banner_ar : news.banner)"/>
                        </div>
                        <div class="a-content">
                            <div class="a-date">
                                <span>{{news.createdOn | date : 'dd/MM/YYYY'}}</span>
                            </div>
                            <h5>{{currentLang == 'ar' ? news.title_ar : news.title}}</h5>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<p-dialog [(visible)]="display" [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '90vw'}" [style]="{width: '500px', padding: '0'}">
    <ng-template pTemplate="header">
        <h3>{{currentLang == 'ar' ? selectedEvent.title_ar : selectedEvent.title}}</h3>
    </ng-template>
    <div class="date-time">
        <p><span class="material-icons-round me-2 fs-5">access_time_rounded</span>{{selectedEvent?.eventdatetime}}</p>
    </div>
</p-dialog>