.publications-icon img {
    height: 200px;
    object-fit: cover;
}

::ng-deep .p-confirm-dialog-message{
    margin: 0 !important;
}

.admin-event-card{
    height: 100%;
    img{
        height: 200px;
        object-fit: contain;
    }
}