<div class="hero-banner">
    <div class="inner-banner">
        <div class="breadcrumb container">
            <div class="d-flex ps-4">
                <h6 class="enable m-0" routerLink="/">{{'home' | translate}}</h6>
                <h6 class="disable m-0">{{currentLang == 'ar' ? pageData?.page?.title_ar : pageData?.page?.title}}</h6>
            </div>

        </div>
    </div>
</div>
<div class="container my-5 min-80">
    <div class="row">
        <div class="col-12 mb-5" *ngIf="pageData?.page?.pageComponents?.componentsId == 'documents'">
            <div class="section-title text-center mb-3">
                <h3>{{currentLang == 'ar' ? pageData?.page?.title_ar : pageData?.page?.title}}</h3>
            </div>
            <div class="text-center" [innerHtml]="currentLang == 'ar' ? pageData?.page?.content_ar : pageData?.page?.content"></div>
        </div>
    </div>
    <div class="row link-sections justify-content-center" *ngIf="sections?.length > 0">
        <ng-container *ngFor="let service of sections">
        <div class="col-md-3 col-12 mb-3">
            <div class="service-item px-4 py-5" (click)="goToPage(service)" title="{{service.url}}">
                <div class="s-icon">
                    <img onerror="this.src='./assets/images/noimageavailable.png'" [src]="service.icon"
                        class="img-fluid" />
                </div>
                <h5>{{currentLang == 'ar' ? service.text_ar : service.text}}</h5>
                <p>{{currentLang == 'ar' ? service.desc_ar : service.desc}}</p>
            </div>
        </div>
    </ng-container>
    </div>

    <div class="input-group mt-4 search-bar" *ngIf="services?.length > 4">
        <span class="input-group-text material-icons-round">search_outlined</span>
        <input type="text" class="form-control mb-4" name="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="Search" />
    </div>
    <div class="row justify-content-center">
        <div class="col-md-3 col-12 mb-3" *ngFor="let service of services | filter:searchText;">
            <div class="service-item px-4 py-5" (click)="goToPage(service)" title="{{service.url}}">
                <div class="s-icon">
                    <img (error)="imgError($event, service)" [src]="service.icon"
                        class="img-fluid" />
                </div>
                <h5>{{currentLang == 'ar' ? service.text_ar : service.text}}</h5>
                <p>{{currentLang == 'ar' ? service.desc_ar : service.desc}}</p>
            </div>
        </div>
    </div>
</div>