<header>
    <div class="top-header">
        <div class="container">
          <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-6">
              <img src="./assets/images/logo-black.svg" alt="SPSA" height="64">
            </div>
            <div class="col-6">
              <div class="ms-auto">
              <iframe src="https://timesprayer.com/widgets.php?frame=1&amp;lang=en&amp;sound=false&amp;name=sharijah&amp;avachang=true&amp;time=0&amp;fcolor=357342&amp;tcolor=357342&amp;frcolor=357342" style="border: none; overflow: hidden; height: 80px;max-width: 280px; float: right;"></iframe>
            </div>
            </div>
          </div>
        </div>
    </div>  
  <nav class="navbar navbar-expand-lg bg-primary">
    <div class="container">
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 me-auto">
        <li>
            <a class="nav-link text-white ps-0" href="#"><span class="material-icons-round me-2">home</span>Home</a>
        </li>
        <li>
            <a class="nav-link text-white" href="#"><span class="material-icons-round me-2">work_history</span>HR System</a>
        </li>
        <li>
            <a class="nav-link text-white" href="#"><span class="material-icons-round me-2">markunread</span>Zajel</a>
        </li>
        <li>
            <a class="nav-link text-white" href="#"><span class="material-icons-round me-2">contacts</span>Contact</a>
        </li>
        <li>
            <a class="nav-link text-white" href="#"><span class="material-icons-round me-2">mark_as_unread</span>Outlook</a>
        </li>
        <li>
            <a class="nav-link text-white" href="#"><span class="material-icons-round me-2">browse_gallery</span>Attendance</a>
        </li>    
        <li>
            <a class="nav-link text-white" href="#"><span class="material-icons-round me-2">view_carousel</span>Service Desk</a>
        </li>    
      </ul>
      <p-menubar [model]="items">
    </p-menubar>
    </div>
  </nav>
  </header>
  <div class="hero-banner">
      <div class="home-banner"></div>
  </div>
  <router-outlet></router-outlet>