.card{
    height: 100%;
    img{
        width: 160px;
        height: 160px;
        object-fit: cover;
        border-radius: 50%;
        margin: auto;
        margin-top: 16px;
    }
}

.emp-avatar{
    max-width: 128px;
}

.s-action-buttons{
    gap: 20px;
    button{
        flex: 1;
    }
}

.dsort{
    width: 60px;
    float: right;
    margin-top: -45px;
    input{
        padding: 5px 0;
        text-align: center;
    }
}

.ssort{
    width: 60px;
    height: 30px;
    margin-left: 8px;
    padding: 0;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.csort{
    display: flex;
    align-items: center;
    margin: auto;
    font-weight: bold;
    margin-top: 10px;
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 12px;
    input{
        width: 60px;
        height: 36px;
        padding: 0;
        margin: 0;
        text-align: center;
        margin-left: 4px;
        font-size: 12px;
    }
}