

.card{
    height: 100%;
    img{
        width: 180px;
        height: 100px;
        object-fit: cover;
        margin: auto;
        margin-top: 16px;
    }

    p{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        white-space: normal;
    }

}

