<header>
  <div class="top-header">
    <div class="container">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-6">
          <img
            class="my-3"
            src="./assets/images/logo-black.svg"
            alt="SPSA"
            height="64"
          />
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <ul
        class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 me-auto"
      >
        <li *ngIf="userData.role.toLowerCase() == 'admin'">
          <a class="nav-link text-white ps-0" routerLink="/admin/menu"
            ><span class="material-icons-round me-2">menu_open</span>Menu</a
          >
        </li>
        <li *ngIf="userData.role.toLowerCase() == 'admin'">
          <a class="nav-link text-white" routerLink="/admin/pages"
            ><span class="material-icons-round me-2">description</span>Pages</a
          >
        </li>
        <li
          *ngIf="
            userData.role.toLowerCase() == 'admin' ||
            userData.role.toLowerCase() == 'event'
          "
        >
          <a class="nav-link text-white" routerLink="/admin/events"
            ><span class="material-icons-round me-2">event</span>Events</a
          >
        </li>
        <li
          *ngIf="
            userData.role.toLowerCase() == 'admin' ||
            userData.role.toLowerCase() == 'news'
          "
        >
          <a class="nav-link text-white" routerLink="/admin/announcements"
            ><span class="material-icons-round me-2">campaign</span
            >Announcements</a
          >
        </li>
        <li>
          <a class="nav-link text-white" routerLink="/admin/quick-links"
            ><span class="material-icons-round me-2">link</span>Quick links</a
          >
        </li>
        <li *ngIf="userData.role.toLowerCase() == 'admin'">
          <a class="nav-link text-white" routerLink="/admin/visitors"
            ><span class="material-icons-round me-2">group</span>Visitors</a
          >
        </li>
        <li *ngIf="userData.role.toLowerCase() == 'admin'">
          <a class="nav-link text-white" routerLink="/admin/users"
            ><span class="material-icons-round me-2">groups</span>Users</a
          >
        </li>
        <li *ngIf="userData.role.toLowerCase() == 'admin'">
          <a class="nav-link text-white" routerLink="/admin/theme-settings"
            ><span class="material-icons-round me-2">settings</span>Theme</a
          >
        </li>
      </ul>

      <div class="d-flex" dir="ltr">
        <button
          class="rounded-circle btn btn-small btn-secondary menu-toggle me-2"
          (click)="admenu.toggle($event)"
        >
          <span class="material-icons-round">person_rounded</span>
        </button>
      </div>
    </div>
  </nav>
</header>

<p-menu #admenu [model]="items" [popup]="true"></p-menu>

<router-outlet></router-outlet>
